*.DS_Store
*.log

# Package Files #
*.jar
*.war
*.ear

# Compiler/IDE Byproducts #
*.class
*.swp
MANIFEST.MF
target/

# Virgo Kernel Runtime Files #
virgo-kernel-3.6.1.RELEASE/stage
virgo-kernel-3.6.1.RELEASE/work
